<!DOCTYPE html>
<html>

{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>城市体征构建与认知系统</title>
  <link rel="icon" href="#"/>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href=" {% static 'assets/css/aquamarine.css' %} ">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src=" {% static 'assets/js/navbar-ontop.js' %} "></script>
  <!-- Script: Animated entrance -->
  <script src=" {% static 'assets/js/animate-in.js' %} "></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href=" {% url 'traffic:introduction' %} "><i class="fa fa-user fa-fw"></i>城市交通体征</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'population:introduction' %}"><i class="fa fa-user fa-fw"></i>城市人口体征</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'economy:introduction' %}"><i class="fa fa-user fa-fw"></i>城市经济体征</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="d-flex align-items-center section-aquamarine py-5 cover" style="	background-image: url('../../static/assets/img/xiongan.jpg');	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="d-none d-md-block display-3">城市体征构建与认知系统</h1>
          <a href=" {% url 'traffic:introduction' %} " class="btn btn-lg mt-4 btn-outline-light">进入系统</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light" id="speakers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-lg-4 animate-in-left">
          <a href=" {% url 'traffic:introduction' %} ">
            <img src=" {% static 'assets/img/qunti.jpg' %} " class="center-block my-3 rounded-circle" width="400" height="400">
            <h1 class="mb-0"><b>城市交通体征</b></h1>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left">
          <a href=" {% url 'population:introduction' %} ">
            <img src=" {% static 'assets/img/geren.jpg' %} " class="center-block my-3 rounded-circle" height="400" width="400">
            <h1 class="mb-0"><b>城市人口体征</b></h1>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left">
          <a href=" {% url 'economy:introduction' %} ">
            <img src=" {% static 'assets/img/renkou.jpg' %} " class="center-block my-3 rounded-circle" width="400" height="400">
            <h1 class="mb-0"><b>城市经济体征</b></h1>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 w-100"><iframe width="1000" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://surl.amap.com/bnSX8C1q0KK"></iframe></div>
      </div>
    </div>
  </div>

  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src=" {% static 'assets/js/smooth-scroll.js' %} "></script>
</body>

</html>